@page "/interview"
@model AssistenteDeEnsino.Components.Interview.Interview

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Entrevista</title>
</head>
<body>
<div>
    Teste Entrevista
</div>
</body>
</html>